<p id="notice"><%= notice %></p>

<p>
  <b>Kurupan no:</b>
  <%= @equipment_detail.kurupan_no %>
</p>

<p>
  <b>Eqmtype:</b>
  <%= @equipment_detail.eqmtype_id %>
</p>

<p>
  <b>Running no:</b>
  <%= @equipment_detail.running_no %>
</p>

<p>
  <b>Project:</b>
  <%= @equipment_detail.project_id %>
</p>

<p>
  <b>Quaintity emp:</b>
  <%= @equipment_detail.quaintity_emp %>
</p>

<p>
  <b>Status detail:</b>
  <%= @equipment_detail.status_detail %>
</p>

<p>
  <b>Ict price:</b>
  <%= @equipment_detail.ict_price %>
</p>

<p>
  <b>Bidding price:</b>
  <%= @equipment_detail.bidding_price %>
</p>

<p>
  <b>Vendor:</b>
  <%= @equipment_detail.vendor_id %>
</p>

<p>
  <b>Receipt no:</b>
  <%= @equipment_detail.receipt_no %>
</p>

<p>
  <b>Emp brand:</b>
  <%= @equipment_detail.emp_brand %>
</p>

<p>
  <b>Emp version:</b>
  <%= @equipment_detail.emp_version %>
</p>

<p>
  <b>Spec cpu:</b>
  <%= @equipment_detail.spec_cpu %>
</p>

<p>
  <b>Spec hd:</b>
  <%= @equipment_detail.spec_hd %>
</p>

<p>
  <b>Spec ram:</b>
  <%= @equipment_detail.spec_ram %>
</p>

<p>
  <b>Mornitor brand:</b>
  <%= @equipment_detail.mornitor_brand %>
</p>

<p>
  <b>Mornitor version:</b>
  <%= @equipment_detail.mornitor_version %>
</p>

<p>
  <b>Mornitor sn1:</b>
  <%= @equipment_detail.mornitor_sn1 %>
</p>

<p>
  <b>Mornitor sn2:</b>
  <%= @equipment_detail.mornitor_sn2 %>
</p>

<p>
  <b>Eqm sn1:</b>
  <%= @equipment_detail.eqm_sn1 %>
</p>

<p>
  <b>Eqm sn2:</b>
  <%= @equipment_detail.eqm_sn2 %>
</p>

<p>
  <b>Eqm sn3:</b>
  <%= @equipment_detail.eqm_sn3 %>
</p>

<p>
  <b>Eqm sn4:</b>
  <%= @equipment_detail.eqm_sn4 %>
</p>

<p>
  <b>User name:</b>
  <%= @equipment_detail.user_name %>
</p>

<p>
  <b>Delivery no:</b>
  <%= @equipment_detail.delivery_no %>
</p>

<p>
  <b>Record person:</b>
  <%= @equipment_detail.record_person %>
</p>

<p>
  <b>Record date:</b>
  <%= @equipment_detail.record_date %>
</p>

<p>
  <b>Remakes:</b>
  <%= @equipment_detail.remakes %>
</p>


<%= link_to 'Edit', edit_equipment_detail_path(@equipment_detail) %> |
<%= link_to 'Back', equipment_details_path %>
